* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
body {
    background-color: #2B3648;
}

textarea{
    width: 200px;
    height: 150px;
    resize: none;
    background-color: #212936;
    border: 1px solid #313C4E;
    color: #8997B1;
}
input {
    background-color: #212936;
    border: 1px solid #313C4E;
    color: #8997B1;
}

button, a {
    padding: 20px;
    display: inline-block;
    text-decoration: none;
    background-color: #212936;
    margin: 10px;
    color: #8997B1;
    border: 1px solid #313C4E;
    border-radius: 10px;
    cursor: pointer;
}
button:active {
    animation: click 2s;
}
input::file-selector-button{
    color: #8997B1;
    background-color: #212936;
    border: 1px solid #313C4E;
}
.header {
    width: 100%;
    background: #212936;
    display: flex;
    text-align: center;
    align-items: center;
    z-index: 1;
    /*position: absolute;*/
    padding: 40px 0px 40px 0px;
}

.logo {
    width: 100%;
    color: #fff;
    font-weight: 800;
    font-size: 48px;
}

.posts {
    display: block;
    margin: 50px auto;
    width: 81%;
    height: 100%;
}

.post {
    display: flex;
    border: 2px solid #313C4E;

    border-radius: 10px;
    margin: 10px auto;
    padding-right: 10px;

    text-align: center;
    align-items: center;
    justify-content: space-between;

    height: 200px;
    width: 80%;
    background-color: #212936;
    color: #AFBDD1;
}

.post img {
    width: 200px;
    height: 200px;
    border-radius: 6px;
}


/* modal */

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}


.modal-content {
    position: relative;
    background-color: #212936;
    margin: auto;
    padding: 0;
    width: 50%;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}


@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}
@keyframes click {
    0%{
        scale: 100%;
    }
    50%{
        scale: 50%;
    }
    100% {
        scale: 100%;
    }
}



.close {
    color: #000000;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding-right: 16px;
    background-color: #414b52;
    color: white;
}

.modal-body {
    display: block;
    padding: 20px 20px;
    color: #8997B1;
}

.modal-body form {
    width: 100%;
}

.modal-body form input[type=text], textarea {
    display: flex;
    width: 100%;
    padding: 12px 20px;
    margin: 10px auto;
    box-sizing: border-box;
}

.modal-body form button {
    display: block;
    width: 100%;
    margin-left: 77%;
}

.modal-body form button {
    width: 200px;
}

.modal-body form button:hover {
    cursor: pointer;
}

.photos img {
    display: flex;
    justify-content: space-between;
}



.selected_photo {
    border: 2px solid green;
}

.hided_image {
    border: 2px solid red;
}

.error {
    display: block;
    color: red;
}

#myBtn {
    display: block;
    width: 125px;
}