# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/.name
/dataSources.xml
/modules.xml
/php.xml
/inspectionProfiles/profiles_settings.xml
/solarium-site.iml
/sqldialects.xml
/vcs.xml
